{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [ "prettier" ],
    "extends": [ "prettier" ],
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "prettier/prettier": 2 // Means error
    }

  }